<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>440 Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      <!--SCRIPTS-->
     
  </head>
 
  <body>
    <header>
      <div class="content-wrap">
        
        <button type="button" id="logInBtn" style="height: 45px;">Log in</button>
        <p class="caption">{{inv_msg}}</p>
      
        <button type="button" id="signInBtn" style="height: 45px;">Sign Up</button>
        <p class="caption">{{msg}}</p> 
        
        
      </div>
    </header>
    <main>
     
      <section>
        <div class="content-wrap">
          <!--signup ui-->
          <!--signup ui-->
<div id="signInModal" class="sn_modal">
  <div class="modal-content">
    <form action="/signup" method="POST">
      
      <label>Username:</label>
      <input type="text" name="username" required><br><br>

      <label>Password:</label>
      <input type="password" name="password" required><br><br>

      <label>Confirm Password:</label>
      <input type="password" name="confirm" required><br><br>

      <label>First Name:</label>
      <input type="text" name="firstName"><br><br>

      <label>Last Name:</label>
      <input type="text" name="lastName"><br><br>

      <label>Email:</label>
      <input type="email" name="email" required><br><br>

      <label>Phone:</label>
      <input type="text" name="phone" required><br><br>

      <button type="submit" style="height:45px;">Sign Up</button>
      
    </form>
  </div>
</div>
          
          <!--login ui-->
          <!--login ui-->
<div id="logInModal" class="li_modal">
  <div class="modal-content">
    <form action="/login" method="POST">

      <label>Username:</label>
      <input type="text" name="username" required><br><br>

      <label>Password:</label>
      <input type="password" name="password" required><br><br>

      <button type="submit" style="height:45px;">Log In</button>

    </form>
  </div>
</div>
          
      </section>
       <!--script for button to show other UI-->
      <script>
      // Get the modal
        var s_modal = document.getElementById("signInModal");
        var l_modal = document.getElementById("logInModal");
        // Get the button that opens the modal
        var s_btn = document.getElementById("signInBtn");
        var l_btn = document.getElementById("logInBtn");
        s_btn.onclick = function() {
          s_modal.style.display = "block";
        }
        l_btn.onclick = function() {
          l_modal.style.display = "block";
        }
        window.onclick = function(event) {
          if (event.target == s_modal) {
            s_modal.style.display = "none";
          }
          if (event.target == l_modal) {
            l_modal.style.display = "none";
          }
        }
    </script>
    </main>
  </body>
</html>
